---
import Container from "@/components/Container.astro";
import { projects, skills, social } from "@/constants/data";
import AppLayout from "@/layouts/AppLayout.astro";
import SocialButton from "@/components/SocialButton.astro";
import ProjectCard from "@/components/ProjectCard.astro";
import SkillCard from "@/components/SkillCard.astro";
import "@/styles/globals.css";
import { Icon } from "astro-icon/components";
// import ContactForm from "@/components/ContactForm";

const cv: ISocial = {
  name: "Resume",
  icon: "file-document-svgrepo-com",
  url: "/assets/resume_en.pdf",
};
const newMap = [...social, cv];
---

<AppLayout title="Carlos Garavito" description="Carlos G. portfolio">
  <!-- Hero Section -->
  <Container
    className="flex justify-between flex-col md:flex-row-reverse gap-12 sm:gap-10"
  >
    <div class="flex flex-col gap-11">
      <div class="flex flex-col gap-[18px]">
        <div class="flex flex-col gap-3">
          <h1 class="text-[32px]">Hello, I'm Carlos Garavito 👋🏼</h1>
          <h2 class="text-xl text-[#515459]">Glad to see you here!</h2>
        </div>
        <p class="text-base text-[#1D1D1C] leading-7 md:max-w-[480px]">
          I am a passionate full stack developer with +4 years of experience in the
          industry.
        </p>
      </div>
      <div
        class="grid grid-cols-2 sm:grid-cols-4 md:grid-cols-2 lg:grid-cols-4 flex-wrap gap-5"
      >
        {
          newMap.map((e) => {
            return <SocialButton name={e.name} icon={e.icon} url={e.url} />;
          })
        }
      </div>
    </div>
    <div
      class="rounded-2xl w-full h-[315px] sm:h-[504px] md:w-[222px] md:h-[274px] min-w-[222px]"
    >
      <img
        src="/assets/profile-pic.png"
        alt="profile picture"
        class="w-full h-full object-cover object-center rounded-2xl"
      />
    </div>
  </Container>
  <!-- Projects -->
  <Container className="flex flex-col gap-8">
    <h2>Projects</h2>
    <div class="flex flex-col gap-6">
      {
        projects.map((e) => (
          <ProjectCard
            title={e.title}
            subtitle={e.subtitle}
            description={e.description}
            image={e.image}
            url={e.url}
          />
        ))
      }
    </div>
  </Container>
  <!-- Testimonial -->
  <Container>
    <div
      class="flex bg-[#F6F7F8] flex-col gap-10 rounded-xl px-4 sm:px-12 py-10 md:py-[18px]"
    >
      <img src="/assets/quote.png" alt="quote" class="size-10" />
      <p class="text-lg sm:text-2xl leading-8 sm:leading-10">
        It has been a pleasure to work with Carlos. He is an excellent full
        stack developer, standing out for his ability to tackle both the client
        and server sides as well. His attention to detail, commitment to quality
        and ability to provide effective and creative solutions have been key to
        the success of numerous projects. In addition, his focus on website
        optimization, UX/UI design, and SEO expertise have provided significant
        value to our clients. Carlos has always met every deadline on time and
        has gone above and beyond to ensure that the final product is of the
        highest quality. Overall, Carlos' solutions exceeded our expectations
        and we are delighted with the results.
      </p>
      <div class="flex flex-col gap-2">
        <p class="font-bold text-xl">Roberto E.</p>
        <p class="text-[#515459]">CEO Espinosa Consultores</p>
      </div>
    </div>
  </Container>
  <!-- Skills -->
  <Container className="flex flex-col gap-10">
    <h2>Skills</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-6">
      {
        skills.map((e) => (
          <SkillCard title={e.title} description={e.description} />
        ))
      }
    </div>
  </Container>
  <!-- About Me -->
  <Container className="flex flex-col gap-10">
    <h2>About Me</h2>
    <div class="flex flex-col gap-5">
      <p class="text-2xl leading-10">
        What sets me apart is my unique, multidisciplinary skills as a product
        designer, including my ability to blend creativity and technical
        expertise.
      </p>
      <a
        class="font-bold text-xl leading-[40px] flex items-center gap-3 group"
        href="/about"
        >Learn More <Icon
          name="arrow-right"
          class="group-hover:translate-x-1 duration-300"
        />
      </a>
    </div>
  </Container>
  <!-- Side Project -->
  <Container className="flex flex-col gap-10">
    <h2>Side Project</h2>
    <ProjectCard
      title="Adora"
      subtitle="How Sepps UX Design Increased User Engagement by 25%"
      description="Boosting Collaboration, Communication, and Overall Event Success"
      image="/assets/profile.jpg"
      url=""
    />
  </Container>
  <!-- Contact -->
  <Container className="flex flex-col gap-10">
    <div class="flex flex-col gap-4" id="contact">
      <h2>Enough about me. How can I help you?</h2>
      <p class="font-medium text-xl text-[#515459]">
        Get in touch through this form.
      </p>
    </div>
    <!-- <ContactForm client:load /> -->
  </Container>
</AppLayout>
