---
import Container from "@/components/Container.astro";
import { projects, skills, social } from "@/constants/data";
import AppLayout from "@/layouts/AppLayout.astro";
import SocialButton from "@/components/SocialButton.astro";
import ProjectCard from "@/components/ProjectCard.astro";
import SkillCard from "@/components/SkillCard.astro";
import "@/styles/globals.css";
import { Icon } from "astro-icon/components";

const cv: ISocial = {
  name: "Resume",
  icon: "file-document-svgrepo-com",
  url: "/assets/CV_2024.pdf",
};
const newMap = [...social, cv];
---

<AppLayout title="Carlos Garavito" description="Carlos G. portfolio">
  <!-- Hero Section -->
  <Container
    className="flex justify-between flex-col md:flex-row-reverse gap-12 sm:gap-10"
  >
    <div class="flex flex-col gap-11">
      <div class="flex flex-col gap-[18px]">
        <div class="flex flex-col gap-3">
          <h1 class="text-[32px]">
            Hello, I'm Carlos Garavito 👋🏼
          </h1>
          <h2 class="text-xl text-[#515459]">Your super-friendly buddy</h2>
        </div>
        <p class="text-base text-[#1D1D1C] leading-7 md:max-w-[480px]">
          I'm a Product Designer with 4+ years of work experience, I specialize
          in product design, strategy and storytelling.
        </p>
      </div>
      <div class="flex flex-wrap gap-5">
        {
          newMap.map((e) => {
            return <SocialButton name={e.name} icon={e.icon} url={e.url} />;
          })
        }
      </div>
    </div>
    <div
      class="rounded-2xl w-full h-[315px] sm:h-[504px] md:w-[222px] md:h-[274px] min-w-[222px]"
    >
      <img
        src="/assets/profile.jpg"
        alt="profile picture"
        class="w-full h-full object-cover object-center rounded-2xl"
      />
    </div>
  </Container>
  <!-- Projects -->
  <Container className="flex flex-col gap-8">
    <h2>Projects</h2>
    <div class="flex flex-col gap-6">
      {
        projects.map((e) => (
          <ProjectCard
            title={e.title}
            subtitle={e.subtitle}
            description={e.description}
            image={e.image}
            url={e.url}
          />
        ))
      }
    </div>
  </Container>
  <!-- Skills -->
  <Container className="flex flex-col gap-10">
    <h2>Skills</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-6">
      {
        skills.map((e) => (
          <SkillCard title={e.title} description={e.description} />
        ))
      }
    </div>
  </Container>
  <!-- About Me -->
  <Container className="flex flex-col gap-10">
    <h2>About Me</h2>
    <div class="flex flex-col gap-5">
      <p class="text-2xl">
        What sets me apart is my unique, multidisciplinary skills as a product
        designer, including my ability to blend creativity and technical
        expertise.
      </p>
      <a
        class="font-bold text-xl leading-[40px] flex items-center gap-3 group"
        href="/about"
        >Learn More <Icon
          name="arrow-right"
          class="group-hover:translate-x-1 duration-300"
        />
      </a>
    </div>
  </Container>
  <!-- Side Project -->
  <!-- Contact -->
  <Container className="flex flex-col gap-10">
    <div class="flex flex-col gap-4">
      <h2>Enough about me. How can I help you?</h2>
      <p class="font-medium text-xl">
        In my spare time, I create resources for free. (used by 1k+ designers)
      </p>
    </div>
  </Container>
</AppLayout>
