---
interface Props {
  title: string;
  subtitle: string;
  description: string;
  image: string;
  url: string;
  completed?: boolean;
}

const { title, subtitle, description, image, url } = Astro.props;
---

<div
  class="p-4 rounded-2xl flex flex-col gap-12 border border-[#8F98A6] cursor-pointer transition-all duration-300 hover:shadow-lg __projectContainer"
  data-url={url}
>
  <div class="w-full h-full rounded-2xl">
    <img
      src={image}
      alt={title}
      class="object-cover object-top w-full h-[236px] sm:h-full rounded-[14px] min-w-[236px] max-h-[445px]"
    />
  </div>
  <div class="flex flex-col gap-6">
    <h4 class="font-extrabold text-[26px]">{title}</h4>
    <div class="flex flex-col gap-[10px]">
      <h5 class="text-normal font-base">{subtitle}</h5>
      <p class="text-[#515459] text-sm font-medium">{description}</p>
    </div>
  </div>
</div>

<script>
  const projectContainer = document.querySelectorAll(".__projectContainer");

  projectContainer.forEach((project) => {
    project?.addEventListener("click", () => {
      const url = project.getAttribute("data-url");
      if (url) {
        console.log(url);
        window.open(url, "_blank");
      }
    });
  });
</script>
